@model documentify.ViewModel.PageViewModel

@section PageLink
{
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            @foreach (var item in Model.pages)
            {
                <li @if (@item.isCurrent) { @Html.Raw("class='active'")  }><a href="@item.page_url">@item.titre</a></li>
            }
        </ul>
    </div>
}

<div class="jumbotron card">
    <h1>@Model.titre</h1>
    <p>@Model.description</p>
</div>
<nav class="col-md-3 hidden-xs hidden-sm card">
    <ul>
        @foreach (var item in Model.sections)
        {
            <li>
                <a href="#@item.ordre">@item.titre</a>
            </li>
        }
    </ul>
</nav>
<section class="col-sm-12 col-md-9 card">
    @foreach (var item in Model.sections)
    {
        <article id="@item.ordre">
            <h1 id="test">@item.titre</h1>
            <p>@item.contenu</p>
        </article>
    }
</section>

@section Scripts
{
    <script>
        EditAPI.init()
    </script>
}
