@model documentify.ViewModel.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<a class="btn btn-primary mb20" href="#" data-toggle="modal" data-target="#myCreateModal">Créer</a>
 
<div id="success-message" class="field-validation-succes text-success success-message mb20">Projet crée avec succès.</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model.projets)
    {
        <tr>
            <td>@item.projet.nom</td>
            <td>@item.projet.description</td>
            <td>
                <a href="@item.projet_homepage_url">Voir</a>
                |
                <a href="@item.deletion_url">Supprimer</a>
            </td>
        </tr>
    }
</table>

@Html.Partial("ProjectPartial", Model)



@section Scripts
{
    @if (Model.creation == true)
    {
        <script>
            openEditModal();
        </script>
    }
    @if (Model.projetToDelete != null)
    {
        <script>
            openDeleteModal();
        </script>
    }
    @if (Model.validation == true)
    {
        <script>
            openSuccess("@Model.validationMessage");
        </script>
    }
    else if (Model.validation == false)
    {
        <script>
            openFail("@Model.validationMessage")
        </script>
   }
}
